<% form_field_class = form_field_class || '' %>
<% container_class  = container_class  || '' %>
<% colored_object  = colored_object  || '' %>
<div class="form--field <%= form_field_class %>"<%=  %>>
  <label class="form--label">
    <%= t('activerecord.attributes.color') %>
  </label>
  <div class="form--field-container">
    <%= content_tag('colors-autocompleter',
                    '',
                    class: "colors-autocomplete form--select-container " + "#{container_class.present? ? container_class : '-middle'}",
                    data: { colors: options_for_colors(object), coloredObject: colored_object }) %>
  </div>
  <div class="form--field-instructions"><%= label %></div>
</div>
